include *.py
include *.rst
include *.txt
include .travis.yml
include LICENSE
include MANIFEST.in
include tox.ini

recursive-include examples *.py

recursive-include tests *.py

global-exclude __pycache__/*
